.footer a{
    background-color: transparent;
}

.footer a:hover{
    text-decoration: underline;
}

.footer-contents {
    margin-top: 25px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
