a{
    font-family: Oswald;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

p{
    color: black;
    font-family: Oswald;
}

.body{
    min-height: 100vh;
    margin: 0;
}

.container{
    height: 100%;
    width: 100%;
}

.main-page { 
    display: block;
    display: grid;
    grid-template-columns: 220px 1fr; height: 90%; column-gap: 30px;
    min-height: 50px;
   
}


.footer {
    min-height: 50px;
    height: 10%;
    width: 100%;
    
}
