.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:white;
    padding: 15px;
    border-radius: 18px;
    transition: background-color 1s;
}   

.navbar a{
    padding: 5px;
    display: block;
    border-radius: 8px;
    transition: background-color 0.5s;

    }

.navbar a:hover{
    
    opacity: 0.8;
    border-radius: 0.5;
    color: rgb(44, 43, 43);
    }



.nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;                
}

.tts-logo{
    width: 55px;
    height: 55px;
}

.sign-in {
    margin-right: 8px;
}

.nav-links{
    margin-bottom: 300px
}

.nav-links li {
    text-align: center;
    padding: 5px;
}

.nav-search-cart{
    display: block;
}

.nav-search {
    display: inline-block;
    padding: 5px;
}

.nav-cart{
    display: flex;
}

.nav-cart img{
    margin-top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.banner {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content{
    border-radius: 18px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    column-gap: 15px;
}